@import "./screenSize";
@import "./color_theme.scss";

.footer {
  padding: 71px 165px;
  background-color: $Cod-Gray;
  display: flex;
  justify-content: space-around;

  .footer__content {
    display: grid;
    grid-template-columns: 1fr 1fr;
    color: white;
    p {
      font-size: 14px;
      line-height: 28px;
      letter-spacing: 0.14rem;
    }
    @include screen(med) {
      grid-template-columns: 1fr;
      row-gap: 32px;
    }
    @include screen(small) {
      margin-top: 40px;
    }
  }

  @include screen(med) {
    padding: 57px 39px;
  }
  @include screen(small) {
    padding: 80px 24px;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
}
