@import "./screenSize";

.header {
  background-image: url("../images/homepage/hero-bg-desktop@2x.jpg");
  background-size: cover;
  width: 100%;
  padding: 65px 167px 198px;
  background-position-x: right;
  color: white;
  @include screen(med) {
    padding: 374px 39px 216px;
    background-image: url("../images/homepage/hero-bg-tablet@2x.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position-x: center;
    text-align: center;
    .button {
      justify-self: center;
    }
  }
  @include screen(small) {
    padding: 232px 24px 152px;
    background-image: url("../images/homepage/hero-bg-mobile@2x.jpg");
  }
}

.logo {
  margin-bottom: 147px;
  @include screen(med) {
    margin-bottom: 32px;
  }
}

.header__content {
  max-width: 523px;
  width: 100%;
  display: grid;
  row-gap: 30px;
  backdrop-filter: blur(20px);
  padding: 5px;
  border-radius: 15px;
  @include screen(med) {
    max-width: 100%;
  }
  h1 {
    margin-bottom: 30px;
    @include screen(small) {
      font-size: 32px;
      line-height: 40px;
    }
  }
  p {
    @include screen(med) {
      font-size: 15px;
      line-height: 25px;
    }
  }
}
