@import "./color_theme.scss";
@import "./screenSize";

.reservation {
  padding: 88px 165px;
  color: white;
  display: flex;
  width: 100%;
  justify-content: space-between;
  background-image: url("../images/homepage/ready-bg-desktop@2x.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  @include screen(med) {
    padding: 63px 65px;
    background-image: url("../images/homepage/ready-bg-tablet@2x.jpg");
    flex-direction: column;
    align-items: center;
    text-align: center;
    h2 {
      margin-bottom: 38px;
    }
  }
  @include screen(small) {
    padding: 80px 24px;
    background-image: url("../images/homepage/ready-bg-mobile@2x.jpg");

    h2 {
      font-size: 32px;
      line-height: 40px;
    }
  }
}
